<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <div>
                        <img alt="" th:src="@{'data:image/jpg;base64,' + ${user.profilePicture}}" style="height:200px; width:200px"/>
                    </div>
                    <hr/>
                    <h1><span th:text="${user.email}"></span></h1>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                    <br/>

                </div>
            </div>
        </div>

    </div>
</main>
