<footer th:fragment="footer">
    <div class="container modal-footer">
        <p>&copy; Gab4oo</p>
        <!--<img src="https://lh3.googleusercontent.com/F3LJ6lCjXkHMz0r5zkg2S7q3fFGkvCW_dfzgKec2pwCt-MoQyQDyta4EBGYR1WpwzJPjH1cxkAUcKGDcNnXx0-WmFnulft6OSoNOFRK7Ybi8olk8QkgzOZNgI6kKbUyMnV0nBJxQQqhVlSpbgcXRd69Pg8HSVnkf4a9woV2iybViejKzXAK-3hMkEUPNLrnh1B_Aqh_ZpBA4EjUItnjmE3CEx6omcIUbJ067PLCiu6QcNom18PspDkhQkSJlvpYuR2kKWrtzClWAUw_ccaBEYz-G38Uwty5UO-eiPqVkgcPzY2LA9P3wr_FGPdR4_foKtfcHr9Cp0fM7zC3azNB2u8DaS1-h7KXkncz_sKIllwuY8zE3RnObyP8SEuiLzFIKKuzkVf_jLrtWVz8Z3Oyx5qi42KeaGAEIywyj6Pa_eS6ijFN6603pM303d8ZHO_Ha06xrGwjOzAi3I84u41kRd3mMSM467GmSBNXF8eyNcYfj7v7wZ9OL-DigzNtXlUVnc4OF_Rc7evEaQHl1y9YEzS9q85Y3ODaPqhE6sTr9RI63oSegWLnXruNl637a_sRDeHWaBw7eZX4UTmNtH-KYaTbwau4ycJFK1YQXXqWxZw=s200-no" width="120" height="120"/>-->

    </div>
</footer>
