<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6" th:each="category : ${categories}">
                <header>
                    <h2>

                        <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>
                </header>

            </div>
        </div>
    </div>


        <div class="container">
            <div class="row">
                <div class="col-md-3">


                    <h4 class="">Search</h4>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="search"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md"
                            data-toggle="collapse"
                            data-target="#demo">Refine your search <span class="caret"/>

                    </button>

                    <div id="demo" class="collapse in">
                        <hr/>
                        <div class="list-group list-group">
                            <h4 class="">Модел</h4>
                            <!--<a href="#" class="list-group-item"><span class="badge">14</span> Active item <span-->
                                    <!--class="label label-primary">New</span></a>-->
                            <div th:each="category : ${categories}">
                                <a class="list-group-item" th:href="@{/category/{id}(id=${category.id})}"
                                   th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                                </a>
                            </div>

                            <!--<div id="categories" class="collapse">-->

                            <!--<a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>-->
                            <!--<a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>-->
                            <!--<a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>-->
                            <!--<a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>-->
                            <!--<a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>-->
                            <!--</div>-->


                            <!--<button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span class="caret"></span></button>-->

                            <hr class=""/>
                            <h4 class="">Viewing Options</h4>
                            <a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>

                            <a href="#" class="list-group-item"><span class="badge">3</span> OnDemand</a>
                            <hr class=""/>
                            <a href="#" class="list-group-item">Archived Courses</a>
                            <a href="#" class="list-group-item">Courses In Development</a>
                        </div>
                    </div>


                    <div class="hidden-sm hidden-xs">

                        <hr/>

                        <div class="well">

                            <h4>Premium Membership</h4>
                            <p>Gain unlimited access to our entire course library.</p>
                            <button class="btn btn-sm btn-warning">Learn more</button>

                            <hr/>
                            <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
                        </div>


                        <hr/>
                        <hr/>
                        <!--<div class="well">-->

                        <!--<h4>Course Catalog</h4>-->
                        <!--<p><a href="#"><img src="http://placehold.it/400X500" class="img-responsive"></a></p>-->

                        <!--<p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>-->

                        <!--<button class="btn btn-sm btn-block btn-warning">Download</button>-->
                        <!--</div>-->

                        <hr/>
                        <hr/>
                        <h4 class="text-center">CPE Partners</h4>

                        <p><a href="#"><img class="center-block" src="http://placehold.it/100X100"/></a></p>
                        <!-- /.row -->

                        <!-- Pagination -->

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="well hidden-xs">

                        <div class="row">

                            <div class="col-xs-4">


                                <select class="form-control">
                                    <option>Featured</option>
                                    <option>Recently Added</option>
                                    <option>Next Upcoming Session</option>
                                    <option>A-Z</option>
                                    <option>Z-A</option>
                                </select>
                            </div>
                            <div class="col-xs-8">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default"><span
                                            class="glyphicon glyphicon-th"></span></button>
                                    <button type="button" class="btn btn-default active"><span
                                            class="glyphicon glyphicon-th-list"></span></button>
                                    <button type="button" class="btn btn-default"><span
                                            class="glyphicon glyphicon-list"></span></button>

                                </div>
                            </div>

                        </div>
                    </div>
                    <hr/>
                    <!--ot tuka-->

                    <div class="container" style="margin-top:50px;">

                        <div class="row">
                            <th:block th:each="article : ${article}">
                                <a th:href="@{/article/{id}(id=${article.id})}">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="col-item">
                                            <div class="post-img-content">
                                                <img alt="" th:src="@{'data:image/jpg;base64,' + ${article.coverPhoto}}"
                                                     style="height:200px; width:250px; object-fit:contain"/>
                                                <span class="post-title">

                        <b th:text="${article.city}"></b><br/>
                                              <b th:text="${article.Price}+ лв"></b>
                    </span>
                                                <!--<span class="round-tag">-15%</span>-->
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h3 th:text="${article.title}"></h3>
                                                        <h5 class="price-text-color"  th:text="${article.Price}+ лв"></h5>
                                                    </div>
                                                    <!--<div class="rating hidden-sm col-md-6">-->
                                                    <!--<i class="price-text-color fa fa-star"></i><i-->
                                                    <!--class="price-text-color fa fa-star">-->
                                                    <!--</i><i class="price-text-color fa fa-star"></i><i-->
                                                    <!--class="price-text-color fa fa-star">-->
                                                    <!--</i><i class="fa fa-star"></i>-->
                                                    <!--</div>-->
                                                </div>
                                                <!--<div class="separator clear-left">-->
                                                <!--<p class="btn-add">-->
                                                <!--<i class="fa fa-shopping-cart"></i><a-->
                                                <!--href="http://www.jquery2dotnet.com" class="hidden-sm">Add to-->
                                                <!--cart</a></p>-->
                                                <!--<p class="btn-details">-->
                                                <!--<i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com"-->
                                                <!--class="hidden-sm">More details</a></p>-->
                                                <!--</div>-->
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </th:block>
                        </div>

                    </div>

                    <br/>
                    <!--kraii-->
                    <div class="row">
                        <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720"
                                                                        class="img-responsive"/></a>
                            <hr/>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for
                                Premium Members</p>
                            <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The
                                concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long
                                relied on artificial intelligence to detect fraudulent transaction patterns and prevent
                                card.</p>

                            <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </main>

